.line {
    height: 95px;
    width: 1px;
    background: rgba(62, 62, 62, 0.22);
    margin-top: 3px;
}

.item > a {
    padding: 5px 0px 0px 5px;
    color:#3E3E3E;
    text-decoration: none;    
    margin: 30px;
}

.item > a:hover {
    text-decoration: underline;
    text-decoration-color: #E4B56B;
    transition: color 0.2s linear;
}

.item a.active {
    text-decoration: underline;
    text-decoration-color: #E4B56B;
}
.navigation_menu {
    font-size: 1.2rem;
    display: flex;    
    justify-content: space-between;
    align-items: flex-end;
}

.navigation {
    width: 960px;
    margin: 0 auto;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    font-family: Raleway;
}

